# Core runtime
NODE_ENV=production
HOST=0.0.0.0
PORT=1337

# Database (external)
DATABASE_CLIENT=postgres
DATABASE_HOST=yoo8oo0sccos4cgwoow8c08k
DATABASE_PORT=5432
DATABASE_NAME=postgres
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=PSVp0TH3dmLNUN4AFKRLrMBFPbxuIve7RhUbjdqfQZTPuF4gTG2B7f31VJW9faDu
DATABASE_SSL=false
# If your provider requires SSL, set the above to true and add the following:
# DATABASE_SSL_CA=
# DATABASE_SSL_CERT=
# DATABASE_SSL_KEY=

# Strapi security (replace with strong, unique secrets)
APP_KEYS=key1,key2,key3,key4
API_TOKEN_SALT=replace_me
ADMIN_JWT_SECRET=replace_me
JWT_SECRET=replace_me
TRANSFER_TOKEN_SALT=replace_me
ENCRYPTION_KEY=replace_me

